<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">参与的话题</h1>
        <button class="button button-clear" ng-click="modal4.hide()">取消</button>
    </ion-header-bar>
    <!-- bindonce? -->
    <ion-content bindonce="account" ng-click="modal4.hide()">
        <!-- collect join -->
      <!--   <div ng-if="account.collect_topic.lengt==0">暂无数据
        </div> -->
        <ion-list>
            <!-- bindonce? -->
            <ion-item class="item-divider" ng-if="account.collect_topic.lengt==0" text-align:"center";></ion-item>
            <a class="item item-avatar" bindonce ng-repeat="topic in account.recent_replies" bo-href="'#/tab/topic/'+topic.id">
                <img bo-src="account.avatar_url" />
                <h2 bo-bind="topic.title"></h2>
                <p am-time-ago="topic.last_reply_at"></p>
            </a>
        </ion-list>
    </ion-content>
</ion-modal-view>