<ion-view view-title="登录" cache-view="false">
     <!-- bg is for the bottom -->
    <ion-content style="background:#f4f4f4">
        <!-- .list ion-list -->
        <div class="list">
            <ion class="item item-divider"></ion>
            <div class="item text-center" ng-click="login()">
                <img src="img/person.png" />
                <br />
                <h4>立即登录</h4>
            </div> 

            <!-- not itme -->
        <!--     <div class="button-bar bar-light">
            button-icon icon
            <button class="button icon ion-ios-star-outline"> 收藏</button>
            <button class="button icon ion-ios-email-outline"> 消息</button>
            </div>
        <div class="button-bar bar-light">
            <button class="button icon ion-ios-chatbubble-outline"> 创建的话题</button>
            <button class="button icon ion-ios-chatboxes-outline"> 参与的话题</button>
        </div> -->

            <div class="item item-divider">关于</div>
            <div class="item">当前版本<span class="item-note">1.0.0</span></div>
            <div class="item item">作者<span class="item-note">1010338714@qq.com</span></div>
            <!-- onclick -->
            <div class="item" onclick="window.open('http://ionichina.com/about','blank','location=yes')">关于IconicClub社区</div>
            <!-- yes is out window ?-->
        </div>
        
        <br />
        <div class="text-center">&copy;XiaoHuinan</div>
    </ion-content>
</ion-view>